<table>
        <% for(var i = 0; i< json.length ; i++) { %>
            <tr class='<%= tr %>'>
                <td class='<%= td %>' style="border:solid; border-color: black;padding: 50; align-content: center;justify-content: center;text-align: center">
                    <p> 
                        <%- json[i].descripcion %>
                    </p>
                    <p>
                            <%- json[i].precio %>

                    </p>
                </td>
            </tr>
        <% } %>
    </table>