<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>etiquetas</title>
    <link rel='stylesheet' href='/css/bulma.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script src="\javascripts\main.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>
  <body>
        <div class='columns is-centered'>
            <div class='column is-narrow'>
                <button class="button is-primary" onclick="window.print()">Imprimir</button>
                <button class="button is-primary" onclick="window.location.href = '/<%- uSess.id %>'">Volver</button>

                <table class='tabla8x4'>
                <% for(var i = 0; i< uSess.productos.length ; i++) { %>
                    <% if (i % uSess.cantidadColumnas == 0){ %>
                        <tr>
                    <% } %>
                        <td class='<%= uSess.cssEtiquetas %>' style="border:solid; border-color: black;padding: 50; align-content: center;justify-content: center;text-align: center">
                            <p class='descripcion'>
                                <%- uSess.productos[i].descripcion %>
                            </p>
                            <p class='precio'>
                                    <%- '$'+uSess.productos[i].precio %>

                            </p>
                        </td>

                <% } %>
                </table>
            </div>
        </div>
  </body>
</html>

