<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>etiquetas</title>
    <link rel='stylesheet' href='/css/bulma.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/jquery.min.js"></script>
    <script src="\javascripts\main.js"></script>

    <% if(uSess.cssEtiquetas === 'labels25x18'){ %>
        <link rel='stylesheet' href='/stylesheets/landscape.css' />
    <% } %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
        <div class='columns is-centered'>
            <div class='column is-narrow'>
                <div id='ocultar' class="has-text-centered">
                    <div class="select is-medium is-success">
                        <select name='font' class='font-Selector' onchange="document.getElementById('tabla').style.fontFamily = this.value">
                            <option disabled selected>Seleccione el tipo de letra:</option>
                            <option value='Arial' style='font-family: Arial'>Arial</option>
                            <option value='Times' style='font-family: Times'>Times</option>
                            <option value='Courier' style='font-family: "Courier New", Courier, monospace'>Courier</option>
                            <option value='Georgia' style='font-family: Georgia, Times, serif,Cambria, Cochin'>Georgia</option>
                        </select>
                    </div>
                    <button class="button is-success is-medium" onclick="document.getElementById('ocultar').hidden = 'true';window.print();setTimeout(function(){document.getElementById('ocultar').hidden = false;}, 100)">Imprimir</button>
                    <button class="button is-warning is-medium" onclick="window.location.href = '/<%- uSess.id %>'">Volver</button>

                 </div>
                <table class='tabla8x4' id='tabla'>
                <% for(var i = 0; i< uSess.productos.length ; i++) { %>
                    <% if (i % uSess.cantidadColumnas == 0){ %>
                        <tr>
                    <% } %>
                        <td class='<%= uSess.cssEtiquetas %> cortarPalabras' style="border:solid; border-color: black;padding: 50; align-content: center;justify-content: center;text-align: center">
                            <p class='descripcion'>
                                <%- uSess.productos[i].descripcion %>
                            </p>
                            <% if (uSess.productos[i].precio != ''){ %>
                                
                            <p class='precio'>
                                    <%- '$'+uSess.productos[i].precio %>
                            </p>
                            <% } %>
                        </td>

                <% } %>
                </table>
            </div>
        </div>
  </body>
</html>

