:root{
  --text-color: rgb(109, 109, 109);
  --number-color: black
}



body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.items td{
  text-align: center;
  vertical-align: middle;
}
table.items th{
  text-align: center;
}

.cortarPalabras{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: manual;

}
.labels8x4 {
  width: 8cm;
  height: 4cm;
  max-width: 8cm;
  max-height: 4cm;
  min-width: 8cm;
  min-height: 4cm;
  padding: 2px;
  vertical-align: middle;
}
.labels9x5 {
  width: 9cm;
  height: 5cm;
  max-width: 9cm;
  max-height: 5cm;
  min-width: 9cm;
  min-height: 5cm;
  padding: 2px;
  vertical-align: middle;
}

.labels6x3 {
  width: 6cm;
  height: 3cm;
  max-width: 6cm;
  max-height: 3cm;
  min-width: 6cm;
  min-height: 3cm;
  padding: 2px;
  vertical-align: middle;
}

.labels18x12 {
  width: 18cm;
  height: 12cm;
  max-width: 18cm;
  max-height: 12cm;
  min-width: 18cm;
  min-height: 12cm;
  padding: 2px;
  vertical-align: middle;
}

.labels18x12 .descripcion{
  font-size: 2cm;
  color: var(--text-color);
}
.labels18x12 .precio{
  font-size: 3cm;
  color: var(--number-color);
  margin-bottom:25px;

}

.tabla8x4 {
  border-collapse: separate;
  border-spacing: 8px;
  font-family: sans-serif;
}

.labels9x5 .descripcion{
  font-size: 1cm;
  color: var(--text-color);
  margin-bottom:10px;
}
.labels9x5 .precio{
  font-size: 1.3cm;
  color: var(--number-color);
}

.labels8x4 .descripcion{
  font-size: 0.9cm;
  color: var(--text-color);
  margin-bottom:5px;
}
.labels8x4 .precio{
  font-size: 1.2cm;
  color: var(--number-color);
}
.labels6x3 .descripcion{
  font-size: 0.65cm;
  color: var(--text-color);
  margin-bottom: 5px;
}
.labels6x3 .precio{
  font-size: 1cm;
  color: var(--number-color);
}

.labels25x18 {
  width: 25cm;
  height: 18cm;
  max-width: 25cm;
  max-height: 18cm;
  min-width: 25cm;
  min-height: 18cm;
  padding: 25px;
  vertical-align: middle;
}

.labels25x18 .descripcion{
  font-size: 3cm;
  color: var(--text-color);
}
.labels25x18 .precio{
  font-size: 4cm;
  margin-top: 60px;
  color: var(--number-color);

}